@{
    ViewData["Title"] = "Deine Inserate";
}
<section class="p-4 bg-light rounded shadow-sm">
<div class="mt-6 p-5 bg-primary text-white rounded text-center">
    <h2>Deine Inserate</h2>
</div>

<a class="btn btn-outline-primary" asp-controller="JobPosting" asp-action="CreatedEditJobPosting">neuen Job anlegen</a>


</section>